run = "composer run dev"

entrypoint = "./public/index.php"
modules = ["nodejs-20"]

[nix]
channel = "stable-22_11"

[deployment]
run = ["composer", "run", "dev"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5173
externalPort = 5173
exposeLocalhost = true

[[ports]]
localPort = 8000
externalPort = 80
exposeLocalhost = true
